body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
}

form {
    margin: auto;
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    font-size: 16px;
}
